<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login">
    <h1 style="text-align: center">Register</h1>

    <div class="input-field">
      <input formControlName="firstname" placeholder="Firstname" maxlength="50" required class="box" />&nbsp;
      <input formControlName="lastname" placeholder="Lastname" maxlength="50" required class="box" />
    </div>

    <div class="input-field">
      <input formControlName="phone" placeholder="Your phone" maxlength="10" required class="box" />&nbsp;
      <input type="text" formControlName="username" placeholder="Username" maxlength="50" required class="box" />
    </div>

    <div class="input-field">
      <input type="email" formControlName="email" placeholder="Email" maxlength="50" required class="box"
        style="width: 508px;" />  <br>
      <input type="file" formControlName="picture" (change)="onFileChange($event)" accept="image/*" style="width: 508px;" >
      
    </div>

    <div class="input-field">
      <input type="password" formControlName="password" placeholder="Password" maxlength="50" required class="box"
        style="width: 508px;" />
    </div>

    <div class="input-field">
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" maxlength="50" required
        class="box" style="width: 508px;" (keyup.enter)="onSubmit()"/>
    </div>
    <button type="submit" class="btn" style="color:#fff; background-color:#6fb9fa; border-radius: 50px;">Register</button>
    <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" routerLink="/login">Sign in</a>
    </div>

  </form>
</div> 