.footer {
    
    background-size: cover;
    margin-top:100px;
    padding: 30px;
}
.footer li{
    list-style-type: none;
}
.footer .row .col-3 .content ul li:hover{
    color: #fff;
}
.footer a{
    text-decoration: none;
   color: black;
}

