<div class="footer">
    <div class="row">  
        <div class="col-3">
            <div class="content">
            <h4 style="margin-left: 50px; margin-top: 50px;">Chat with sales</h4>
            <ul>
                <li class="bi bi-telephone-fill" style="margin-left: 80px;">090-XXX-XXXX</li>
                <li class="bi bi-threads" style="margin-left: 80px;">namkub.com</li>
            </ul>
            </div>
        </div> 
  
        <div class="col-3">
                <div class="content">
                <h4 style="margin-left: 50px; margin-top: 50px;">Company</h4>
                <ul>
                    <li style="margin-left: 80px;">products</li>
                    <li style="margin-left: 80px;">about-us</li>
                    <li style="margin-left: 80px;">contact us</li>
                </ul>  
            </div>
        </div>
        <div class="col-3">
            <div class="content">
            <h4  class="bi bi-person-lines-fill" style="margin-left: 50px; margin-top: 50px;">&nbsp;Contact Us</h4>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100006031727561" style="margin-left: 80px;"class="bi bi-facebook custom-icon">&nbsp;Phongsakorn</a></li>
                <li><a href="https://www.facebook.com/tan.nuttapong" style="margin-left: 80px;"class="bi bi-facebook custom-icon">&nbsp;Nuttapong</a></li>
                <li><a href="https://www.facebook.com/gid.pidchanard.mueanson" style="margin-left: 80px;"class="bi bi-facebook custom-icon">&nbsp;Pidchanard</a></li>
                <li><a href="https://www.facebook.com/Chino4210u/" style="margin-left: 80px;"class="bi bi-facebook custom-icon">&nbsp;Nantanatorn</a></li>
                <li><a href="https://www.facebook.com/peerathud.poungnil.3" style="margin-left: 80px;"class="bi bi-facebook custom-icon">&nbsp;Peerathud</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100004555360227" style="margin-left: 80px;"class="bi bi-facebook custom-icon">&nbsp;Warintorn</a></li>
            </ul>  
        </div>
        </div>
    
    <div class="col-3">
        <div class="content">
        <h4 class="bi bi-chat-square-dots-fill" style="margin-left: 50px; margin-top: 50px;">&nbsp;Social</h4>
        <ul>
            <i style="margin-left: 80px;" class="bi bi-facebook" ></i><br>
            <i style="margin-left: 80px;" class="bi bi-instagram"></i><br>
            <i style="margin-left: 80px;" class="bi bi-line"></i><br>
            <i style="margin-left: 80px;" class="bi bi-twitter"></i><br>
        </ul>  
    </div>
</div>
</div>
</div> 
 
