<div class="footer">
    <div class="row">
        <div class="col-3">
            <div class="content">
                <h4>Chat with sales</h4>
                <ul>
                    <li>090-XXX-XXXX</li>
                    <li>namkub.com</li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="content">
                <h4>Company</h4>
                <ul>
                    <li>products</li>
                    <li>about-us</li>
                    <li>contact us</li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="content">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100006031727561" style="margin-left: 10px;"class="bi bi-facebook ">&nbsp;Phongsakorn</a></li>
                    <li><a href="https://www.facebook.com/tan.nuttapong" style="margin-left: 10px;"class="bi bi-facebook ">&nbsp;Nuttapong</a></li>
                    <li><a href="https://www.facebook.com/gid.pidchanard.mueanson" style="margin-left: 10px;"class="bi bi-facebook ">&nbsp;Pidchanard</a></li>
                    <li><a href="https://www.facebook.com/Chino4210u/" style="margin-left: 10px;"class="bi bi-facebook ">&nbsp;Nantanatorn</a></li>
                    <li><a href="https://www.facebook.com/peerathud.poungnil.3" style="margin-left: 10px;"class="bi bi-facebook ">&nbsp;Peerathud</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100004555360227" style="margin-left: 10px;"class="bi bi-facebook ">&nbsp;Warintorn</a></li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="content">
                <h4>Social</h4>
                <ul>
                    <i style="margin-left: 10px;" class="bi bi-facebook" >namkub</i><br>
                    <i style="margin-left: 10px;" class="bi bi-instagram">namkub</i><br>
                    <i style="margin-left: 10px;" class="bi bi-line">namkub</i><br>
                    <i style="margin-left: 10px;" class="bi bi-twitter">nnamkubb</i><br>
                </ul>
            </div>
        </div>
    </div>
   
</div>
