<div class="form-container">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login">
    <h1 style="text-align: center">Deliver-register</h1>
  
    <div class="input-field">
      <input formControlName="firstname" placeholder="Firstname" maxlength="50" required class="box" />
      <input formControlName="lastname" placeholder="Lastname" maxlength="50" required class="box" />
    </div>
  
    <div class="input-field">
      <input formControlName="phone" placeholder="Your phone" maxlength="10" required class="box" style="width: 500px;" />
    </div>
    <div class="input-field">
      <input type="text" formControlName="username" placeholder="username" maxlength="50" required class="box" style="width: 500px;" />
    </div>
    <div class="input-field">
      <input type="email" formControlName="email" placeholder="Email" maxlength="50" required class="box"
        style="width: 500px;" />
    </div>
  
    <div class="input-field">
      <input type="password" formControlName="password" placeholder="Password" maxlength="50" required class="box"
        style="width: 500px;" />
    </div>
  
    <div class="input-field">
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" maxlength="50" required
        class="box" style="width: 500px;" />
    </div>
  
    <button type="submit" class="btn" style="color:#fff; background-color:#6fb9fa; border-radius: 50px;">Register</button>
  
    <a routerLink='/login'>Already have an account? Sign in</a>
    <hr>
  

  
  
  </form>
</div>