<div class="container mt-4">
    <div class="container ml-4">
    <router-outlet></router-outlet>
<h2>สินค้าทั้งหมด</h2>
<hr/>
<div class="row">
    <div class="col-12">
        <div class="product1">
            <h3>สิงห์</h3>
            <div class="prod">
                <div class="col-4">
                    <div class="card">
                        <img src="/สิงค์600มล.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มสิงห์ 600 มล.<br>(แพ็ค 12 ขวด) 50 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/สิงค์750มล.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มสิงห์ 750 มล.<br>(แพ็ค 12 ขวด) 60 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/สิงค์1500มล.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มสิงห์ 1500 มล.<br>(แพ็ค 6 ขวด) 60 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="product1">
            <h3>คริสตัล</h3>
            <div class="prod">
                <div class="col-4">
                    <div class="card">
                        <img src="/คริสตัล350.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มคริสตัล 350 มล.<br>(แพ็ค 12 ขวด) 50 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/คริสตัล600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มคริสตัล 600 มล.<br>(แพ็ค 12 ขวด) 60 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/คริสตัล1500.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มคริสตัล 1500 มล.<br>(แพ็ค 6 ขวด) 70 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="product1">
            <h3>เนสท์เล่</h3>
            <div class="prod">
                <div class="col-4">
                    <div class="card">
                        <img src="/เนสท์เล่330.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มเนสท์เน่ 330 มล.<br>(แพ็ค 12 ขวด) 50 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/เนสท์เล่600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มเนสท์เน่ 600 มล.<br>(แพ็ค 12 ขวด) 60 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/เนสท์เล่1500.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มเนสท์เน่ 1500 มล.<br>(แพ็ค 12 ขวด) 70 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="product1">
            <h3>มิเนเร่</h3>
            <div class="prod">
                <div class="col-4">
                    <div class="card">
                        <img src="/มิเนเร่500มล.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มธรรมชาติมิเนเร่ 350 มล.<br>(แพ็ค 12+3 ขวด) 100 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/มิเนเร่1500มล.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">น้ำดื่มธรรมชาติมิเนเร่ 1500 มล.<br>(แพ็ค 6+2 ขวด) 100 บาท</p>
                            <a href="#" class="btn btn-primary">สั้งซื้อ</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">

                </div>
            </div>
        </div>
    </div>
</div>