.header{
    margin: 2rem;
}

.product1{
    margin: 0.5rem;
}

.prodname{
    margin-left: 2rem;
}

.prod{
    display: flex;
}

.card{
    margin: 1rem;
}

.card-img-top{
    width: 300px;
    height: 100%;
}

.back{
    text-align: right;
    margin-left: 1300px;
    padding: 30px;
    position: absolute;
    
}
.back button{
    background-color: #AFD5F0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.back button:hover {
    background-color: #a7a7ff;
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }