<app-admin-home/>
<div class="bg">
<div class="container">
    <div class="header">
        <h2>Dashboard</h2>
    </div>

    <div class="filter">
        <div class="headfilter"><h5>Filter</h5></div>
        <div class="filtercontrol">
            <div class="form">
            <label for="month">Month </label>
            <select name="month" id="month" class="formmonth">
                <option value="1">มกราคม</option>
                <option value="2">กุมภาพันธ์</option>
                <option value="3">มีนาคม</option>
                <option value="4">เมษายน</option>
                <option value="5">พฤษภาคม</option>
                <option value="6">มิถุนายน</option>
                <option value="7">กรกฎาคม</option>
                <option value="8">สิงหาคม</option>
                <option value="9">กันยายน</option>
                <option value="10">ตุลาคม</option>
                <option value="11">พฤศจิกายน</option>
                <option value="12">ธันวาคม</option>
            </select>
        </div>

        <div class="form">
            <div class="form-group"> 
                <label for="year">Year</label>
                <input type="number" id="year" class="formyear" placeholder="กรอกปี" />
              </div>
        </div>

        <button type="submit" class="btn btn-primary">กรอง</button>
        </div>
        

    </div>

    <div class="showvalue">
        <div class="col">
            <div class="showdetail">
                <h5>Total Income</h5>
                <h6>{{ AlltimeSum?.[0]?.Income }}.-</h6>
            </div>
        </div>
        <div class="col">
            <div class="showdetail">
                <h5>Total Profit</h5>
                <h6>{{ AlltimeSum?.[0]?.Profit }}.-</h6>
            </div>
        </div>
        <div class="col">
            <div class="showdetail">
                <h5>Product Sale</h5>
                <h6>{{ AlltimeSum?.[0]?.Quantity }}</h6>
            </div>
        </div>
    </div>
    

    <div class="showtable">
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Month</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Income</th>
              <th>Capital</th>
              <th>Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sum of summaries">
              <td>{{ sum.No }}</td>
              <td>{{ sum.Month }}</td>
              <td>{{ sum.Product }}</td>
              <td>{{ sum.Quantity }}</td>
              <td>{{ sum.Income }}</td>
              <td>{{ sum.Capital }}</td>
              <td>{{ sum.Profit }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
</div>