.container {
    padding-left: 200px;
    background: none;
}
h2{
    font-family: "Rubik Bubbles", system-ui;
}

.header{
    padding-top: 2rem;
    text-align: center;
}


.filter{
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(38, 0, 255, 0.312);
}

.headfilter{
    padding-top: 2rem;
}

.filtercontrol{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    
}
 .submitFilter{
   margin-left: 550px;
   margin-top: 10px;
}
.formyear,.formmonth{
    width: 100%;
    border-radius: 10px;
}
button{
    background-color: #3b3f60;
    border: none;
    width: fit-content;
}
button:hover{
    background-color: #36304e;
    color: #fff;
}
.showvalue{
    display: flex;
}

.showdetail{
    text-align: center;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: 5px 5px 10px rgba(89, 24, 174, 0.3);
}

.showdetail h5{
    margin-top: 2rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    padding-bottom: 40px;
    box-shadow: 5px 5px 10px #5918ae4d;
}

table, th, td {
    border: none;
}

tr {
    position: relative; 
}

tr::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25px; 
    right: 25px; 
    height: 1px; 
    background-color: #a3a3a3; 
}

th, td {
    padding: 12px;
    text-align: center;
    border: none;
}

th {
    background-color: #36304e;
    color: #a3a3a3;;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

td {
    background-color: #282a3f;
    color: #a3a3a3;
}

table tr:nth-child(even) {
    background: none;
    color: #a3a3a3;
}

.filter{
    background:none;
}
.bg{
    font-family:"Rajdhani", sans-serif; 
  }