<app-admin-home/>
<div class="bg">
<div class="container">
    <div class="header">
        <h2>Dashboard</h2>
    </div>

    <div class="filter">
        <div class="headfilter"><h5>Filter</h5></div>
        <div class="filtercontrol">
            <div class="form">
                <label for="month">Month </label>
                <select name="month" id="month" class="formmonth" [(ngModel)]="selectedMonth">
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                
              </div>

              <div class="form">
                <div class="form-group"> 
                    <label for="year">year</label>
                    <select name="year" id="year" class="formyear">
                      <option value="1">2024</option>
                      <option value="2">2023</option>
                      <option value="3">2022</option>
                    </select>
                  </div>
            </div>
            
    <div class="submitFilter">
        <button type="submit" class="btn btn-primary submit" (click)="submitMonth()">Filter</button>&nbsp;
        <button type="submit" class="btn btn-primary submit" (click)="reloadPage()">Refresh</button>
        </div>   
    </div>
    
    </div>

    <div class="showvalue">
        <div class="col">
            <div class="showdetail">
                <h5>Total Income</h5>
                <h6>{{ AlltimeSum?.[0]?.Income }}.-</h6>
            </div>
        </div>
        <div class="col">
            <div class="showdetail">
                <h5>Total Profit</h5>
                <h6>{{ AlltimeSum?.[0]?.Profit }}.-</h6>
            </div>
        </div>
        <div class="col">
            <div class="showdetail">
                <h5>Product Sale</h5>
                <h6>{{ AlltimeSum?.[0]?.Quantity }}</h6>
            </div>
        </div>
        <div class="col">
            <div class="showdetail">
                <h5>Best Sale</h5>
                <h6>{{ bestsale?.[0]?.Product }}</h6>
            </div>
        </div>
    </div>
    

    <div class="showtable">
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Month</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Income</th>
              <th>Capital</th>
              <th>Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sum of summaries | async">
              <td>{{ sum.No }}</td>
              <td>{{ sum.Month }}</td>
              <td>{{ sum.Product }}</td>
              <td>{{ sum.Quantity }}</td>
              <td>{{ sum.Income }}</td>
              <td>{{ sum.Capital }}</td>
              <td>{{ sum.Profit }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
</div>