<app-admin-home/>

<div class="container">
    <div class="header">
        <h2>Dashborad</h2>
    </div>

    <div class="filter">
        <div class="headfilter"><h5>Filter</h5></div>
        <div class="filtercontrol">
            <div class="form">
            <label for="month">Month </label>
            <select name="month" id="month" class="formmonth">
                <option value="1">มกราคม</option>
                <option value="2">กุมภาพันธ์</option>
                <option value="3">มีนาคม</option>
                <option value="4">เมษายน</option>
                <option value="5">พฤษภาคม</option>
                <option value="6">มิถุนายน</option>
                <option value="7">กรกฎาคม</option>
                <option value="8">สิงหาคม</option>
                <option value="9">กันยายน</option>
                <option value="10">ตุลาคม</option>
                <option value="11">พฤศจิกายน</option>
                <option value="12">ธันวาคม</option>
            </select>
        </div>

        <div class="form">
            <div class="form-group"> 
                <label for="year">Year</label>
                <input type="number" id="year" class="formyear" placeholder="กรอกปี" />
              </div>
        </div>

        <button type="submit" class="btn btn-primary">กรอง</button>
        </div>
        

    </div>

    <div class="showvalue">
        <div class="col">
            <div class="showdetail">
                <h5>Total income</h5>
                <p>--???--</p>
            </div>
        </div>
        <div class="col">
            <div class="showdetail">
                <h5>Amount</h5>
                <p>--???--</p>
            </div>
        </div>
        <div class="col">
            <div class="showdetail">
                <h5>Product quantity</h5>
                <p>--???--</p>
            </div>
        </div>
    </div>

    <div class="showtable">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Product Name</th>
                    <th>Size</th>
                    <th>Amount</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>1</td>
                    <td>name</td>
                    <td>Size</td>
                    <td>10</td>
                    <td>5</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>name</td>
                    <td>Size</td>
                    <td>10</td>
                    <td>5</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>name</td>
                    <td>Size</td>
                    <td>10</td>
                    <td>5</td>
                    <td>50</td>
                </tr>
            </tbody>
            
        </table>
        
    </div>
</div>
