<app-admin-home/>
<div class="bg">
<div class="container">
    <h2 class="hehe ">Product Editor </h2>
    
    <button class="add-product-btn" (click)="openAddProductModal()">Add Product</button>
  
    <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
            <span class="close-btn" (click)="closeModal()">&times;</span>
            <h3>Add Product</h3>
  
            <!-- Form starts here -->
            <form 
                  [formGroup]="addproductform"
                  (ngSubmit)="onSubmit()"
                  class="needs-validation"
                  novalidate
            > 
                <div class="modal-body">
                    <div class="form-section" style="padding-right: 5rem;">
                        <!-- Product Name -->
                        <div class="form-group" style="width: 100%;">
                          <!-- <label for="Product_Name" class="form-label">ชื่อสินค้า :</label> -->
                          <input id="Product_Name" type="text" formControlName="Product_Name" class="form-control" placeholder="ชื่อสินค้า"
                            [ngClass]="{
                              'is-invalid': addproductform.get('Product_Name').invalid && addproductform.get('Product_Name').touched
                            }">
                          <div class="invalid-feedback"
                            *ngIf="addproductform.get('Product_Name').invalid && addproductform.get('Product_Name').touched">
                            Please fill Product Name
                          </div>
                        </div>
                        
  
                        <!-- Product Picture -->
                        <div class="form-group">
                            <!-- <label for="Product_Picture" class="form-label">รูปภาพสินค้า :</label> -->
                            <input id="Product_Picture" type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" >
                        </div>
  
                        <!-- Product Size -->
                        <div class="form-group">
                            <!-- <label for="Product_Size" class="form-label">ขนาดสินค้า :</label> -->
                            <input id="Product_Size" type="number" formControlName="Product_Size" class="form-control" placeholder="ขนาดสินค้า" 
                            [ngClass]="{
                              'is-invalid': addproductform.get('Product_Size').invalid && addproductform.get('Product_Size').touched
                            }">
                          <div class="invalid-feedback"
                            *ngIf="addproductform.get('Product_Size').invalid && addproductform.get('Product_Size').touched">
                            Please fill Size (mL)
                          </div>
                        </div>
  
                        <!-- Product Price -->
                        <div class="form-group">
                            <!-- <label for="Product_Price" class="form-label">ราคาสินค้า :</label> -->
                            <input id="Product_Price" type="number" formControlName="Product_Price" class="form-control" placeholder="ราคาสินค้า" [ngClass]="{
                              'is-invalid': addproductform.get('Product_Price').invalid && addproductform.get('Product_Price').touched
                            }">
                          <div class="invalid-feedback"
                            *ngIf="addproductform.get('Product_Price').invalid && addproductform.get('Product_Price').touched">
                            Please fill Product Price
                          </div>
                        </div>
  
                        <!-- Sup_ID -->
                        <div class="form-group">
                          <!-- <label for="Sup_ID" class="form-label">รหัส Supplier:</label> -->
                          <select id="Sup_ID" formControlName="Sup_ID" class="form-select"  aria-label="Default select example">
                            <option selected>Select Supplier</option>
                            <option value="1">Sermsuk (Crystal)</option>
                            <option value="2">Singha Corporation</option>
                            <option value="3">Mineré Thailand</option>
                            <option value="4">Nestle Thailand</option>
                          </select>
                        </div>
                    </div>
                </div>
  
                <!-- Submit button -->
                <div class="modal-footer">
                    <button type="submit" class="confirm-btn">ตกลง</button>
                </div>
            </form> 
            <!-- Form ends here -->
        </div>
    </div>
    <!---------Edit Product Modal-------------------->

    <div class="modal" *ngIf="isModalOpen1">
      <div class="modal-content">
          <span class="close-btn" (click)="closeModal1()">&times;</span>
          <h3>Update Product</h3>

          <!-- Form starts here -->
          <form 
                [formGroup]="UpdateProductform"
                (ngSubmit)="onUpdate()"
                class="needs-validation"
                novalidate
          > 
              <div class="modal-body">
                  <div class="form-section" style="padding-right: 5rem;">
                      <!-- Product Name -->
                      <div class="form-group" style="width: 100%;">
                        <!-- <label for="Product_Name" class="form-label">ชื่อสินค้า :</label> -->
                        <input id="Product_Name" type="text" formControlName="Product_Name" class="form-control" placeholder="ชื่อสินค้า"
                          [ngClass]="{
                            'is-invalid': addproductform.get('Product_Name').invalid && addproductform.get('Product_Name').touched
                          }">
                        <div class="invalid-feedback"
                          *ngIf="addproductform.get('Product_Name').invalid && addproductform.get('Product_Name').touched">
                          Please fill Product Name
                        </div>
                      </div>
                      

                      <!-- Product Picture -->
                      <div class="form-group">
                          <!-- <label for="Product_Picture" class="form-label">รูปภาพสินค้า :</label> -->
                          <input id="Product_Picture" type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" >
                      </div>

                      <!-- Product Size -->
                      <div class="form-group">
                          <!-- <label for="Product_Size" class="form-label">ขนาดสินค้า :</label> -->
                          <input id="Product_Size" type="number" formControlName="Product_Size" class="form-control" placeholder="ขนาดสินค้า" 
                          [ngClass]="{
                            'is-invalid': addproductform.get('Product_Size').invalid && addproductform.get('Product_Size').touched
                          }">
                          Please fill Size (mL)
                      </div>

                      <!-- Product Price -->
                      <div class="form-group">
                          <!-- <label for="Product_Price" class="form-label">ราคาสินค้า :</label> -->
                          <input id="Product_Price" type="number" formControlName="Product_Price" class="form-control" placeholder="ราคาสินค้า" [ngClass]="{
                            'is-invalid': addproductform.get('Product_Price').invalid && addproductform.get('Product_Price').touched
                          }">
                        <div class="invalid-feedback"
                          *ngIf="addproductform.get('Product_Price').invalid && addproductform.get('Product_Price').touched">
                          Please fill Product Price
                        </div>
                      </div>

                      <!-- Sup_ID -->
                      <div class="form-group">
                        <!-- <label for="Sup_ID" class="form-label">รหัส Supplier:</label> -->
                        <select id="Sup_ID" formControlName="Sup_ID" class="form-select"  aria-label="Default select example">
                          <option selected>Select Supplier</option>
                          <option value="1">Sermsuk (Crystal)</option>
                          <option value="2">Singha Corporation</option>
                          <option value="3">Mineré Thailand</option>
                          <option value="4">Nestle Thailand</option>
                        </select>
                      </div>
                  </div>
              </div>

              <!-- Submit button -->
              <div class="modal-footer">
                  <button type="submit" class="confirm-btn">Update</button>
              </div>
          </form> 
          <!-- Form ends here -->
      </div>
  </div>
  </div>
  
  
  <div class="product-card " *ngFor="let product of products | async">
    
    <div class="photo">
        <img [src]="product.Product_Picture" alt="Photo" style="width: 180px; height: 180px;">
    </div>
    
      <div class="details ">
          <p><strong>ID</strong>: {{ product.Product_ID }}</p>
          <p><strong>Title</strong>: {{ product.Product_Name }}</p>
          <p><strong>Size</strong>: {{ product.Product_Size }}</p>
          <p><strong>Price</strong>: {{ product.Product_Price }}</p>
       <!-- <p><strong>ขนาด</strong>: {{ product.Product_Size }}</p> -->

      </div>
      <div class="edit-btn" >
          <button class ="btn btn-primary" (click)="editProduct(product)" >Edit</button>
      </div>
      <div class="delete-btn">
        <button type="button" class="btn btn-danger" (click)="deleteProduct(product.Product_ID )">Delete</button>
      </div>
  </div> 

</div>


<ng-template #noData>
  <p>No products available.</p>
</ng-template>
