
<div class="form-container">
    <form (ngSubmit)="onLogin()">
      <h1 style="text-align: center; font-weight: bold; font-family:Arial, Helvetica, sans-serif;">Login</h1>
      <div class="input-field">
        <span class="bi bi-person-fill fs-4">&nbsp;</span>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="@username"
          [(ngModel)]="username"
          maxlength="50"
          required
          class="box"
        />
      </div>
  
      <div class="input-field">
        <span class="bi bi-shield-lock-fill fs-4" >&nbsp;</span>
        <input
           [type]="type"
          id="password"
          name="password"
          placeholder="@password"
          maxlength="50"
          [(ngModel)]="password"
          required
          class="box"
        />
        <span (click)="hideShowPass()" class=" {{eyeIcon}}"></span>
      </div> 
  
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
  
      <button
        type="submit"
        class="btn"
        style="background-color:#6fb9fa;border-radius: 50px; color: #fff;"
      >
        Login
      </button>
      <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/register">sign up</a></div>
  

    </form>
  </div>
  