<app-header-user></app-header-user>

<!-- รูปแบนเนอร์ -->
<img [src]="bannerImage" style="width:100%;position:relative;height: 400px;">

<div class="text-center" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); color: rgb(255, 255, 255);  
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;">
  <h1 style="font-size: 36px; font-weight: bold;border-color:#000;">Welcome to Namkub</h1>
  <p style="font-size: 20px;">น้ำดื่ม ดีเยี่ยมกระหาย กรระชากความสดชื่น</p>
</div>



<div class="container mt-4" style="margin-bottom: 100px;">
  <h2 class="text-center">สินค้าแนะนำ</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <img src="singha600.jpg" class="card-img-top" alt="Product 1">
        <div class="card-body-sm">
          <p class="card-text">น้ำดื่มสิงห์ 600 มล.<br>(แพ็ค 12 ขวด) 50 บาท</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="crystal 600.jpg" class="card-img-top" alt="Product 2">
        <div class="card-body-sm">
          <p class="card-text">น้ำดื่มคริสตัล 600 มล.<br>(แพ็ค 12 ขวด) 60 บาท</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="เนสท์เล่600.jpg" class="card-img-top" alt="Product 3">
        <div class="card-body-sm">
          <p class="card-text">น้ำดื่มเนสท์เล่ 600 มล.<br>(แพ็ค 12 ขวด) 60 บาท</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="มิเนเร่500มล.png" class="card-img-top" alt="Product 4" >
        <div class="card-body-sm">
          <p class="card-text">น้ำแร่ธรรมชาติมิเนเร่ 500 มล.<br>(แพ็ค 12 ขวด) 100 บาท</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col-8">
    <h2 class="mt-3" >สินค้าทั้งหมด</h2> <hr>
    <app-product-box></app-product-box>
  </div>
  <div class="col-2"></div>
</div>
<app-footer></app-footer>
