<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" style="height: 80px; margin-top: 0; padding: 0.25rem 1rem;">
  <div class="d-flex align-items-center">
    <a class="navbar-brand" routerLink="/home" style="font-size: 14px; margin-right: 1rem;">
      <img src="namkub.png" alt=" logo namkub" style="width: 100px;">
    </a>
    <ul class="navbar-nav ">
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link " routerLink="/home" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link" routerLink="/products" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link" routerLink="/contact" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">Contact Us</a>
      </li>
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link" routerLink="/about-us" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">About Us</a>
      </li>
    </ul>
  </div>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" style="background-color:#AFD5F0;" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit" style="background-color:#AFD5F0;">Search</button>
  </form>
  <div class="ms-auto d-flex align-items-center profile">
    <div class="toggle">
      <div class="moon-sun">
        <i class="bi" [ngClass]="isDarkMode ? 'bi bi-sun' : 'bi bi-moon'"></i>
      </div>
      <span class="mode-text">{{ isDarkMode ? '' : '' }}</span>
      <label class="switch">
        <input type="checkbox" (click)="toggleDarkMode()" [checked]="isDarkMode">
        <span class="slider round"></span>
      </label>
    </div>
    <span *ngIf="username" (click)="toggleProfilePopup()" class="nav-link" style="font-size: 16px; margin-right: 1rem; cursor: pointer;">
      {{ username }}
    </span>
    <div id="profilePopup" class="profile-popup" [ngStyle]="{ 'visibility': isProfilePopupVisible ? 'visible' : 'hidden' }">
      <div class="profile-popup-content">
        <img src="{{picture}}" alt="Profile image" class="profile-image">
        <p>Hello {{ username }}</p>
        <button class="edit-profile-btn" routerLink="/edit-profile" (click)="editProfile()">Edit Profile</button>
      </div>
    </div>
    
    
    
    <a class="nav-link bi bi-cart3" routerLink="/cart" style="font-size: 20px; text-decoration: none;">&nbsp; &nbsp;</a>

    <a class="nav-link bi bi-box-arrow-right" (click)="logout()" href="/" style="font-size: 20px; text-decoration: none;">&nbsp;</a>
  </div>
</nav>
