.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* ปรับแต่งปุ่ม navbar */
.navbar-nav .nav-link:hover {
    color: white;
    border-radius: 5px;
    font-family: "Noto Sans Thai", sans-serif;
}
/* อัพเดทข้างบน navbar เปลี่ยนสีโหมดมืด สว่าง*/

  .toggle{
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
  }
  .moon-sun i {
    font-size: 20px;
    margin-right: 10px;
  }
  .active-nav-link {
    padding-bottom: 3px; 
    border-bottom: 2px solid #ffffff; 
    
  }
  .nav-link.router-link-active {
    color: #ffffff;
  }
  .navbar-nav .nav-link {
    color: #ffffff; /* สีขาวสำหรับลิงค์ที่เปิดอยู่ */
    background-color: transparent; /* พื้นหลังโปร่งใสหรือปรับตามต้องการ */
  }