<app-header-user/>
<div class="container">
    <h2>Edit Profile</h2>
    <form 
    [formGroup]="editprofileform"
    (ngSubmit)="onSubmit()"
    class="needs-validation"
    >
  
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" formControlName="firstname"  class="form-control" 
        [ngClass]="{
        'is-invalid':editprofileform.get('firstname').invalid && editprofileform.get('firstname').touched
        }"
        >
        <div class="invalid-feedback"
        *ngIf="editprofileform.get('firstname').invalid && editprofileform.get('firstname').touched">
          Please fill your firstname
        </div>
      </div>
  
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" formControlName="lastname"    class="form-control" 
        [ngClass]="{
          'is-invalid':editprofileform.get('lastname').invalid && editprofileform.get('lastname').touched
          }"
          >
          <div class="invalid-feedback"
          *ngIf="editprofileform.get('lastname').invalid && editprofileform.get('lastname').touched">
            Please fill your lastname
          </div>
      </div>
  
      <div class="form-group">
        <label for="yourphone">Phone</label>
        <input type="text" id="phone" formControlName="phone" class="form-control" 
        [ngClass]="{
          'is-invalid':editprofileform.get('phone').invalid && editprofileform.get('phone').touched
          }"
        >
        <div class="invalid-feedback"
        *ngIf="editprofileform.get('phone').invalid && editprofileform.get('phone').touched">
          Please fill your phone
        </div>
      </div>
  
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control" 
        [ngClass]="{
          'is-invalid':editprofileform.get('username').invalid && editprofileform.get('username').touched
          }"
        >
        <div class="invalid-feedback"
        *ngIf="editprofileform.get('username').invalid && editprofileform.get('username').touched">
          Please fill your username
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" 
        [ngClass]="{
          'is-invalid':editprofileform.get('email').invalid && editprofileform.get('email').touched
          }"
        >
        <div class="invalid-feedback"
        *ngIf="editprofileform.get('email').invalid && editprofileform.get('email').touched">
          Please fill your email
        </div>
      </div>
  
      
  
      <button type="button" class="btn btn-primary" (click)="saveProfile()" style="width: 555px;">Save Changes</button>
      <button type="button" class="btn btn-secondary mt-3" (click)="resetForm()" style="width: 555px;">Reset</button>
    </form>
  </div>
  
  <app-footer/>